<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- Category Background -->
    <category label="30000">
        <setting id="img.directory" label="30001" type="folder" source="local" option="writeable"/>
        <setting id="img.mode" type="select" label="30021" values="Stretch|Center|Scale|Zoom" default="Zoom" />
        <setting id="img.pick_random" label="30013" type="bool" default="true" />
        <setting id="preset.enabled" label="30018" type="bool" default="true" />
        <setting id="preset.pick_random" label="30017" type="bool" default="true" enable="eq(-1,true)"/>

        <setting id="img.update_by_track" label="30003" type="bool" default="true" />
        <setting id="img.update_by_interval" label="30004" type="bool" default="true" />
        <setting id="img.update_interval" label="30005" type="slider" option="int" default="300" range="5,5,600" enable="eq(-1,true)" />

        <!-- Subcategory Effect -->
        <setting type="lsep" label="30011" />
        <setting id="img.effect" type="select" label="30012" values="Crossfade|Slide" default="Crossfade" />
            <!-- Crossfade config -->
                <setting id="crossfade.fade_ms" label="30002" type="slider" option="int" default="1000" range="250,250,5000" visible="eq(-1,Crossfade)" />            
            <!-- Slide config -->
                <setting id="slide.fade_ms" label="30002" type="slider" option="int" default="2500" range="250,250,5000" visible="eq(-2,Slide)" />
                <setting id="slide.direction" type="enum" label="30023" lvalues="30024|30025|30026|30027|30028" default="0" visible="eq(-3,Slide)"/>
    </category>
    
    <!-- Category Spectrum -->
    <category label="30006">
        <setting id="spectrum.enabled" label="30007" type="bool" default="true" />

        <setting type="lsep" label="30019" />
        <setting id="spectrum.bar_count" label="30008" type="slider" option="int" default="64" range="10,2,100" enable="eq(-2,true)" />
        <setting id="spectrum.width" label="30010" type="slider" option="int" default="85" range="0,100" enable="eq(-3,true)" />
        <setting id="spectrum.position_vertical" label="30014" type="slider" option="float" default="-0.98" range="-1.0,0.01,1.0" enable="eq(-4,true)" />
        <setting id="spectrum.position_horizontal" label="30022" type="slider" option="float" default="0.0" range="-1.0,0.01,1.0" enable="eq(-5,true)" />
        <setting id="spectrum.mirror_vertical" label="30015" type="bool" default="true"  enable="eq(-6,true)" />
        <setting id="spectrum.mirror_horizontal" label="30016" type="bool" default="false"  enable="eq(-7,true)" />

        <setting type="lsep" label="30020" />
        <setting id="spectrum.animation_speed" label="30009" type="slider" option="int" default="70" range="50,100" enable="eq(-9,true)" />
    </category>

</settings>
